*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after{
  content: " ";
  display: table;
  clear: both;
}


body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}


header li, p, span{
  color: #C1C1C1;
}

div p{
  margin-top: 10px;
}

h2{
  font-size: 34px;
}



/* margin bottom class for everyone */
.margin-bottom{
  margin-bottom: 30px
}


/* 
HEADER
 */


 /* Logo */
header .logo img{
  width: 150px;
}


/* Nav Bar */
header li{
  list-style-type: none;
  text-transform: uppercase;
  display: inline;
  margin: 5px;
}

header li:hover{
  color: #971817;
  cursor: pointer;
}


/* Jumbotron */

div.jumbotron{
  width: 100%;
  height: 700px;

  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  overflow: hidden;
}

div.overlay{
  background-color: rgb(0, 0, 0, 0.3);
  height: 100%;
}


.overlay p, h1{
  color: white;
  padding-left: 50px;
  width: 40%;
}

h1{
  padding-top: 25%;
}


 /* 
MAIN
 */

 /* colonne */
 .content{
   float: left;
   border-radius: 5px;
 }

 .left-column, .right-column{
   width: 18%;
 }

.center-column{
  width: 60%;
  margin-left: 2%;
  margin-right: 2%;
}


/* Box  */
.img-box{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  height: 320px;

  border-radius: 10px;
  overflow: hidden;

  margin-bottom: 10px;
}

.left-box{
  background-image: url(../img/img-1.jpg);
}

.center-box{
  background-image: url(../img/banner-2.jpg);
}

.right-box{
  background-image: url(../img/img-3.jpg);
}



 /* 
FOOTER
 */

footer{
  text-align: center;
}