*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

/* margin bottom class for everyone */
.margin-bottom{
  margin-bottom: 20px
}


/* 
HEADER
 */


 /* Logo */
header .logo{
  
}


/* Nav Bar */
header li{
  list-style-type: none;
  text-transform: uppercase;
  display: inline;
  color: #C1C1C1;
  margin: 5px;
}

header li:hover{
  color: #971817;
  cursor: pointer;
}


/* Jumbotron */

div.jumbotron{
  width: 100%;
  height: 700px;

  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  overflow: hidden;
}

div.overlay{
  background-color: rgb(0, 0, 0, 0.3);
  height: 100%;
}

div.overlay h1,p{
  color: white;
  padding-left: 20px;
}



 /* 
MAIN
 */





 /* 
FOOTER
 */